[Unit]
Description=JMusicBot
After=multi-user.target

[Service]
Type=simple
ExecStart=/app/run_bot.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
